# Домашнее задание к лекции "Базовые понятия статистики"

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

### Задание 1. Загрузка данных

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names), загрузить его и оставить 8 столбцов для дальнейшего изучения: `surgery?`, `Age`, `rectal temperature`, `pulse`, `respiratory rate`, `temperature of extremities`, `pain`, `outcome`. 

### Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.


### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [575]:
import pandas as pd
import numpy as np

In [576]:
horses = pd.read_csv('/Users/zorinapancenko/Desktop/python/statistics_basics/horse_data.csv', names = ['surgery', 'age', 'hospital number', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'surgical lesion', 'type of lesion', 'type of lesion_', 'type of lesion__', 'cp_data'])
horses.head()

,surgery,age,hospital number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion,type of lesion,type of lesion_,type of lesion__,cp_data
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2

In [577]:
horses_work = horses[['surgery', 'age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']]
horses_work.head()

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2,1,38.50,66,28,3,5,2
1,1,1,39.2,88,20,?,3,3
2,2,1,38.30,40,24,1,3,1
3,1,9,39.10,164,84,4,2,2
4,2,1,37.30,104,35,?,?,2

In [578]:
# проверка столбцов на наличие пропусков, в итоге выясняем что 7/8 столбцов содержат ? 
print(horses_work['surgery'].unique())
print(horses_work['age'].unique())
print(horses_work['rectal temperature'].unique())
print(horses_work['pulse'].unique())

['2' '1' '?']
[1 9]
['38.50' '39.2' '38.30' '39.10' '37.30' '?' '37.90' '38.10' '37.20'
 '38.00' '38.2' '37.60' '37.50' '39.4' '39.90' '38.40' '38.60' '38.3'
 '38.1' '37.80' '37.7' '37.70' '38.20' '37.8' '39.20' '39.00' '35.4'
 '38.90' '37.40' '40.30' '37.9' '37.00' '39.7' '37.6' '38.7' '36.40'
 '37.3' '38.0' '38.80' '39.60' '36.80' '38.4' '39.50' '36.5' '39.40'
 '38.70' '37.4' '38' '36.00' '37.1' '38.9' '39.30' '38.8' '39.5' '37.5'
 '38.5' '37.10' '36.10' '39.3' '36.60' '40.80' '36.90' '38.6' '40.00'
 '36.50' '37.2']
['66' '88' '40' '164' '104' '?' '48' '60' '80' '90' '72' '42' '92' '76'
 '96' '128' '64' '110' '130' '108' '100' '112' '52' '146' '150' '120'
 '140' '84' '46' '114' '160' '54' '56' '38' '98' '50' '44' '70' '78' '49'
 '30' '136' '132' '65' '86' '129' '68' '36' '45' '124' '184' '75' '82']

In [579]:
print(horses_work['respiratory rate'].unique())
print(horses_work['temperature of extremities'].unique())
print(horses_work['pain'].unique())
print(horses_work['outcome'].unique())

['28' '20' '24' '84' '35' '?' '16' '36' '12' '52' '48' '21' '60' '34' '42'
 '30' '96' '72' '15' '44' '32' '22' '18' '80' '40' '10' '51' '68' '66' '9'
 '14' '90' '8' '23' '58' '13' '70' '26' '88' '25' '50']
['3' '?' '1' '4' '2']
['5' '3' '2' '?' '4' '1']
['2' '3' '1' '?']

### работаем со столбцами surgery и outcome

In [580]:
# в одной строчке 2 пропуска, их можно назвать полностью случайными (Mcar), тк для всех остальных строк значения surgery и outcome определены, данную строку можно удалить.
print(horses_work['surgery'].value_counts())
print(horses_work['outcome'].value_counts())
horses_work[horses_work['surgery'] == '?']

1    180
2    119
?      1
Name: surgery, dtype: int64
1    178
2     77
3     44
?      1
Name: outcome, dtype: int64

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,?,1,38.0,48,20,3,4,?

In [581]:
horses_work.drop(np.where(horses_work['surgery'] == '?')[0], inplace = True)

### работаем со столбцом age

In [582]:
# можно предположить, что по причине какого-то системного сбоя или ошибки ввода данных вместо 2 поставили 9. Поэтому произведем замену
print(horses_work['age'].value_counts())

1    275
9     24
Name: age, dtype: int64

In [583]:
import warnings

warnings.filterwarnings('ignore')

In [584]:
horses_work.loc[(horses_work.age == 9), 'age'] = 2

### работаем с остальными столбцами

In [585]:
# во всех остальных столбцах достаточно много пропусков

# 60 пропусков
print(horses_work['rectal temperature'].value_counts())
# 24 пропуска
print(horses_work['pulse'].value_counts())
# 58 пропусков
print(horses_work['respiratory rate'].value_counts())
# 56 пропусков
print(horses_work['temperature of extremities'].value_counts())
# 55 пропусков
print(horses_work['pain'].value_counts())

?        60
38.00    16
37.80    13
38.30    12
38.50    10
         ..
37.6      1
37.1      1
36.50     1
39.3      1
36.60     1
Name: rectal temperature, Length: 66, dtype: int64
48     27
60     25
?      24
40     18
88     12
52     12
44     11
100    11
72     11
42     10
120    10
64      8
96      8
84      8
80      8
54      7
56      7
66      6
50      6
104     5
68      5
76      4
70      4
92      4
86      3
78      3
90      3
112     3
36      3
108     3
30      2
130     2
150     2
114     2
140     2
124     2
45      2
46      1
160     1
164     1
184     1
38      1
146     1
49      1
110     1
128     1
82      1
75      1
98      1
132     1
129     1
65      1
136     1
Name: pulse, dtype: int64
?     58
20    27
24    27
16    22
30    19
12    19
40    17
36    16
28    13
32    11
18     8
48     6
14     4
60     4
10     3
44     3
68     3
80     3
42     3
35     3
90     2
21     2
51     2
50     2
9      2
22     2
96     2
70     2
84     2
34     1
13     1
88     1
26     1
52     1
66     1
72     1
25     1
8      1
23     1
15     1
58     1
Name: respiratory rate, dtype: int64
3    108
1     78
?     56
2     30
4     27
Name: temperature of extremities, dtype: int64
3    67
2    59
?    55
5    42
1    38
4    38
Name: pain, dtype: int64

In [586]:
# заменим ? во всех остальных столбцах на NaN

horses_work.loc[(horses_work['rectal temperature'] == '?'), 'rectal temperature'] = np.NaN
horses_work.loc[(horses_work['pulse'] == '?'), 'pulse'] = np.NaN
horses_work.loc[(horses_work['respiratory rate'] == '?'), 'respiratory rate'] = np.NaN
horses_work.loc[(horses_work['temperature of extremities'] == '?'), 'temperature of extremities'] = np.NaN
horses_work.loc[(horses_work['pain'] == '?'), 'pain'] = np.NaN

horses_work = horses_work.apply(pd.to_numeric)

horses_work.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    int64
 1   age                         299 non-null    int64
 2   rectal temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     299 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 21.0 KB

In [587]:
# есть гипотеза: за лошадьми, которые по итогу умерли или которых пришлось усыпить, скорее всего велось более пристальное наблюдение => пропусков данных должно быть меньше.
# а состояние лошадей, что выжили, видимо было относительно стаблильным и не измерения могли быть проведены
def searchd(data):
    if int(data['outcome'] == 2) | int(data['outcome'] == 3):
        return data.isnull().sum()

In [588]:
horses_work['na_values_d'] = horses_work.apply(searchd, axis=1)

In [589]:
def searchl(data):
    if int(data['outcome'] == 1):
        return data.isnull().sum()

In [590]:
horses_work['na_values_l'] = horses_work.apply(searchl, axis=1)

In [591]:
horses_work.head()

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome,na_values_d,na_values_l
0,2,1,38.5,66.0,28.0,3.0,5.0,2,0.0,NaN
1,1,1,39.2,88.0,20.0,NaN,3.0,3,1.0,NaN
2,2,1,38.3,40.0,24.0,1.0,3.0,1,NaN,1.0
3,1,2,39.1,164.0,84.0,4.0,2.0,2,0.0,NaN
4,2,1,37.3,104.0,35.0,NaN,NaN,2,2.0,NaN

In [592]:
# кол-во пропусков в данных для умерших или усыпленных лощадей = 118
horses_work['na_values_d'].sum()

118.0

In [593]:
# кол-во пропусков в данных для выживших лощадей = 313 (почти в 3 раза больше)
horses_work['na_values_l'].sum()

313.0

In [594]:
horses_work[['rectal temperature', 'pulse', 'respiratory rate']].describe()

       rectal temperature       pulse  respiratory rate
count          239.000000  275.000000        241.000000
mean            38.168619   72.000000         30.460581
std              0.733744   28.646219         17.666102
min             35.400000   30.000000          8.000000
25%             37.800000   48.000000         18.000000
50%             38.200000   64.000000         25.000000
75%             38.500000   88.000000         36.000000
max             40.800000  184.000000         96.000000

Эти пропуски распределены не случайно и восстановить их на основе имеющихся данных не получится (вид MNAR) => их удалять нельзя, тк это пиведет к искажению данных.

Но в учебных целях (по условию задачи требуется составить датафрейм без пропусков) допустим, что эти данные распределены случайно (MCAR). 

Выявить взаимосвязь между столбцами затруднительно: логично можно предположить, что чем больше пульс или чем больше ректальная температура, тем ближе к 5 будет значение столбца pain. Но например строка датафрема с индексом 3 доказывает обратное, у данной лошади выскоий пульс и температура, но состояние всего лишь depressed.

In [595]:
# большинство в выборке с прохладной температурой конечностей
print(horses_work['temperature of extremities'].mode()[0])
# большинство в выборке имело легкую прерывистую боль
print(horses_work['pain'].mode()[0])
# большинство в выборке взрослые лошади
print(horses_work['age'].mode()[0])
# большинство в выборке имело хирургическое вмешательство
print(horses_work['surgery'].mode()[0])
# большинство лошадей в выборке выжило
print(horses_work['outcome'].mode()[0])

3.0
3.0
1
1
1

In [596]:
# столбцы temperature of extremities и pain содержат категориальные данные, поэтому заменим их модой
horses_work['pain'].fillna(horses_work['pain'].mode()[0],inplace = True)
horses_work['temperature of extremities'].fillna(horses_work['temperature of extremities'].mode()[0],inplace = True)

In [597]:
# столбцы rectal temperature, pulse и respiratory rate содержат количественные данные. Тк в датафрейме есть выбросы, заменим пропуски на медианы.
horses_work['rectal temperature'].fillna(horses_work['rectal temperature'].median(),inplace = True)
horses_work['pulse'].fillna(horses_work['pulse'].median(),inplace = True)
horses_work['respiratory rate'].fillna(horses_work['respiratory rate'].median(),inplace = True)

In [598]:
# при замене на медиану
horses_work[['rectal temperature', 'pulse', 'respiratory rate']].describe()

       rectal temperature       pulse  respiratory rate
count          299.000000  299.000000        299.000000
mean            38.174916   71.357860         29.401338
std              0.655851   27.554626         16.000822
min             35.400000   30.000000          8.000000
25%             37.900000   48.500000         20.000000
50%             38.200000   64.000000         25.000000
75%             38.500000   88.000000         34.500000
max             40.800000  184.000000         96.000000

In [552]:
# при замене на среднее арифметическое
horses_work[['rectal temperature', 'pulse', 'respiratory rate']].describe()

       rectal temperature       pulse  respiratory rate
count          299.000000  299.000000        299.000000
mean            38.168619   72.000000         30.460581
std              0.655730   27.468469         15.853977
min             35.400000   30.000000          8.000000
25%             37.900000   48.500000         20.000000
50%             38.168619   68.000000         30.000000
75%             38.500000   88.000000         34.500000
max             40.800000  184.000000         96.000000

In [599]:
# находим выбросы для rectal temperature
q1 = horses_work['rectal temperature'].quantile(0.25)
q3 = horses_work['rectal temperature'].quantile(0.75)

iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
rem = horses_work[horses_work['rectal temperature'].between(lower_bound, upper_bound, inclusive = True)]
pd.concat([horses_work, rem]).drop_duplicates(keep=False)

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome,na_values_d,na_values_l
20,1,1,39.9,72.0,60.0,1.0,5.0,1,NaN,1.0
44,1,1,35.4,140.0,24.0,3.0,4.0,3,0.0,NaN
54,2,1,40.3,114.0,36.0,3.0,2.0,3,0.0,NaN
75,1,2,39.7,100.0,25.0,3.0,2.0,3,1.0,NaN
80,1,1,36.4,98.0,35.0,3.0,4.0,2,0.0,NaN
91,2,1,40.3,114.0,36.0,3.0,2.0,2,0.0,NaN
99,2,1,39.6,108.0,51.0,3.0,2.0,1,NaN,1.0
113,1,1,36.8,60.0,28.0,3.0,3.0,2,2.0,NaN
117,2,1,39.5,64.0,25.0,3.0,3.0,3,2.0,NaN
118,1,1,36.5,78.0,30.0,1.0,5.0,1,NaN,1.0
141,2,1,36.0,42.0,30.0,3.0,3.0,2,2.0,NaN
162,2,1,39.5,60.0,10.0,3.0,3.0,1,NaN,1.0
231,2,1,39.5,92.0,28.0,3.0,5.0,2,0.0,NaN
238,2,1,36.1,88.0,25.0,3.0,3.0,3,1.0,NaN
251,2,1,36.6,42.0,18.0,3.0,1.0,2,0.0,NaN
259,1,1,40.8,72.0,42.0,3.0,2.0,2,0.0,NaN
277,2,1,36.9,50.0,40.0,2.0,1.0,1,NaN,1.0
281,2,1,40.0,78.0,25.0,3.0,2.0,2,1.0,NaN
287,2,2,39.5,84.0,30.0,3.0,3.0,1,NaN,3.0
298,1,1,36.5,100.0,24.0,3.0,3.0,1,NaN,1.0

In [600]:
# находим выбросы для pulse
q11 = horses_work['pulse'].quantile(0.25)
q33 = horses_work['pulse'].quantile(0.75)

iqr2 = q33 - q11
lower_bound2 = q11 - (1.5 * iqr2)
upper_bound2 = q33 + (1.5 * iqr2)
rem2 = horses_work[horses_work['pulse'].between(lower_bound2, upper_bound2, inclusive = True)]
pd.concat([horses_work, rem2]).drop_duplicates(keep=False)

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome,na_values_d,na_values_l
3,1,2,39.1,164.0,84.0,4.0,2.0,2,0.0,NaN
41,2,2,39.0,150.0,72.0,3.0,3.0,1,NaN,3.0
55,1,2,38.6,160.0,20.0,3.0,3.0,2,0.0,NaN
255,1,2,38.8,184.0,84.0,1.0,4.0,2,0.0,NaN
275,1,2,38.8,150.0,50.0,1.0,5.0,2,0.0,NaN

In [601]:
# находим выбросы для respiratory rate
q111 = horses_work['respiratory rate'].quantile(0.25)
q333 = horses_work['respiratory rate'].quantile(0.75)

iqr22 = q333 - q111
lower_bound22 = q111 - (1.5 * iqr22)
upper_bound22 = q333 + (1.5 * iqr22)
rem22 = horses_work[horses_work['respiratory rate'].between(lower_bound22, upper_bound22, inclusive = True)]
pd.concat([horses_work, rem22]).drop_duplicates(keep=False)

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome,na_values_d,na_values_l
3,1,2,39.1,164.0,84.0,4.0,2.0,2,0.0,NaN
20,1,1,39.9,72.0,60.0,1.0,5.0,1,NaN,1.0
23,1,2,38.3,130.0,60.0,3.0,2.0,1,NaN,2.0
39,1,2,39.2,146.0,96.0,3.0,3.0,2,2.0,NaN
41,2,2,39.0,150.0,72.0,3.0,3.0,1,NaN,3.0
82,1,2,38.1,100.0,80.0,3.0,3.0,1,NaN,1.0
84,1,1,37.8,60.0,80.0,1.0,2.0,1,NaN,1.0
103,1,2,38.0,140.0,68.0,1.0,3.0,1,NaN,1.0
106,1,1,38.3,52.0,96.0,3.0,3.0,1,NaN,3.0
120,1,1,39.4,54.0,66.0,1.0,2.0,1,NaN,1.0
125,1,1,38.0,42.0,68.0,4.0,3.0,1,NaN,1.0
185,1,1,38.5,120.0,60.0,4.0,3.0,1,NaN,2.0
208,1,1,37.8,88.0,80.0,3.0,3.0,3,1.0,NaN
220,1,1,39.2,88.0,58.0,4.0,5.0,3,0.0,NaN
229,1,2,38.5,120.0,70.0,3.0,3.0,1,NaN,3.0
244,1,2,38.2,124.0,88.0,1.0,2.0,1,NaN,1.0
248,1,1,38.0,108.0,60.0,2.0,4.0,1,NaN,1.0
255,1,2,38.8,184.0,84.0,1.0,4.0,2,0.0,NaN
265,2,1,38.2,56.0,68.0,3.0,3.0,3,1.0,NaN
295,1,1,38.2,120.0,70.0,4.0,2.0,3,1.0,NaN

### итоговый датафрейм без пропусков

In [603]:
horses_work[['surgery', 'age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    int64
 1   age                         299 non-null    int64
 2   rectal temperature          299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory rate            299 non-null    float64
 5   temperature of extremities  299 non-null    float64
 6   pain                        299 non-null    float64
 7   outcome                     299 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 21.0 KB