# Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [139]:
import pandas as pd

In [140]:
file = pd.read_csv('/Users/zorinapancenko/Desktop/python/Downloads/ratings.csv')

In [141]:
def rating(param):
    if param > 4:
        return 'высокий рейтинг'
    elif 2 < param <= 4:
        return 'средний рейтинг'
    elif param <= 2:
        return 'низкий рейтинг'

In [142]:
file['class'] = file['rating'].apply(rating)
file.tail(20)

        userId  movieId  rating   timestamp            class
99984      671     5010     2.0  1066793004   низкий рейтинг
99985      671     5218     2.0  1065111990   низкий рейтинг
99986      671     5299     3.0  1065112004  средний рейтинг
99987      671     5349     4.0  1065111863  средний рейтинг
99988      671     5377     4.0  1064245557  средний рейтинг
99989      671     5445     4.5  1064891627  высокий рейтинг
99990      671     5464     3.0  1064891549  средний рейтинг
99991      671     5669     4.0  1063502711  средний рейтинг
99992      671     5816     4.0  1065111963  средний рейтинг
99993      671     5902     3.5  1064245507  средний рейтинг
99994      671     5952     5.0  1063502716  высокий рейтинг
99995      671     5989     4.0  1064890625  средний рейтинг
99996      671     5991     4.5  1064245387  высокий рейтинг
99997      671     5995     4.0  1066793014  средний рейтинг
99998      671     6212     2.5  1065149436  средний рейтинг
99999      671     6268     2.5  1065579370  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг
100002     671     6385     2.5  1070979663  средний рейтинг
100003     671     6565     3.5  1074784724  средний рейтинг

In [143]:
file['class'].value_counts()

средний рейтинг    63801
высокий рейтинг    22818
низкий рейтинг     13385
Name: class, dtype: int64

# Задание 2 (1 способ)

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток.
Результат классификации запишите в отдельный столбец region.

In [248]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [464]:
table = pd.read_csv('/Users/zorinapancenko/Desktop/python/Downloads/keywords.csv')

In [277]:
# для проверки уникальных значений table[ table['keyword'].str.contains('москва', case=False) ]['keyword'].unique()

In [278]:
dic = {}
for region in geo_data:
    list_1 = geo_data[region]
    dic.update({key:value for key, value in zip(list_1, [region for i in list_1])})

In [279]:
dic.items()

dict_items([('москва', 'Центр'), ('тула', 'Центр'), ('ярославль', 'Центр'), ('петербург', 'Северо-Запад'), ('псков', 'Северо-Запад'), ('мурманск', 'Северо-Запад'), ('владивосток', 'Дальний Восток'), ('сахалин', 'Дальний Восток'), ('хабаровск', 'Дальний Восток')])

In [280]:
def classif(word):
    for key, values in dic.items():
        if key in word:
            return values

In [281]:
table['region'] = table['keyword'].apply(classif).fillna('undefined')

In [282]:
table['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

# Задание 2 (2 способ)

In [465]:
# это намного проще, чем первый способ
def reg_name(row):
    for key, value in geo_data.items():
        for i in value:
            if i in row['keyword']:
                return key

In [466]:
table['region'] = table.apply(reg_name, axis=1).fillna('undefined')
table['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

# Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [137]:
ratings = pd.read_csv('/Users/zorinapancenko/Desktop/python/Downloads/ratings.csv')

In [337]:
movies = pd.read_csv('/Users/zorinapancenko/Desktop/python/Downloads/movies.csv')

In [417]:
def production_year(row):
    for el in list(range(1950, 2011)):
        if str(el) in row['title']:
            return int(el)

In [421]:
movies['year'] = movies.apply(production_year, axis = 1).fillna('1900')

In [422]:
movies.loc[1000:1500]

,movieId,title,genres,year
1000,1246,Dead Poets Society (1989),Drama,1989
1001,1247,"Graduate, The (1967)",Comedy|Drama|Romance,1967
1002,1248,Touch of Evil (1958),Crime|Film-Noir|Thriller,1958
1003,1249,"Femme Nikita, La (Nikita) (1990)",Action|Crime|Romance|Thriller,1990
1004,1250,"Bridge on the River Kwai, The (1957)",Adventure|Drama|War,1957
...,...,...,...,...
1496,1934,You Can't Take It with You (1938),Comedy|Romance,1900
1497,1935,How Green Was My Valley (1941),Drama|Musical|Romance,1900
1498,1936,Mrs. Miniver (1942),Drama|War,1900
1499,1937,Going My Way (1944),Comedy|Drama|Musical,1900
1500,1938,"Lost Weekend, The (1945)",Drama,1900

In [458]:
average_rating = ratings.groupby('movieId')['rating'].mean()
joined = movies.merge(average_rating, on='movieId', how='left')
joined.sort_values(['year', 'rating'], ascending = [True, False]).head(3000)

,movieId,title,genres,year,rating
4554,6273,In a Lonely Place (1950),Drama|Film-Noir|Mystery|Romance,1950,4.833333
4623,6405,Treasure Island (1950),Adventure|Children,1950,4.500000
746,926,All About Eve (1950),Drama,1950,4.434211
743,922,Sunset Blvd. (a.k.a. Sunset Boulevard) (1950),Drama|Film-Noir|Romance,1950,4.294872
2481,3088,Harvey (1950),Comedy|Fantasy,1950,4.263158
...,...,...,...,...,...
8108,96004,Dragon Ball Z: The History of Trunks (Doragon ...,Action|Adventure|Animation,1993,4.000000
8212,98829,"Evil Cult, The (Lord of the Wu Tang) (Yi tian ...",Action|Fantasy,1993,4.000000
444,497,Much Ado About Nothing (1993),Comedy|Romance,1993,3.983333
406,457,"Fugitive, The (1993)",Thriller,1993,3.953052
474,529,Searching for Bobby Fischer (1993),Drama,1993,3.933333

### Следовательно, утверждение можно считать верным